/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/
body{
    padding-top: 100px;
    background-color: lightgoldenrodyellow;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;    
}
li{
    display: inline;
}
a{
    text-decoration: none;
    color: #fff;
}
/*UTILITIES*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black
}


/*HEADER*/
header{
    background-color: #FF6900 ;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 2px 2px 1px gray;    
}
nav{
    height: 80px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
nav ul{
    margin: 0 -10px;
}
nav li{
    padding: 0 10px;
}
.navbar{
    flex-basis: 20%;
    align-self: center;
    gap: 16px;
}
.nav-icons{
    flex-basis: 20%;
    align-self: center;
    text-align: right;
}

/*MAIN*/
/*Creo la row con le col*/
.row{
    border: 1px dashed red;
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;    
}
.col{   
    border: 2px dotted blue;
    flex-basis: calc(100% / 3);
    padding: 10px;
}
/*all'interno delle col inserisco le card*/
.card{
    display: flex;
}
.card-image{
    height: 100%;
    width: auto;
}