/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/
body{
    padding-top: 100px;
    background-color: white;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;    
}
li{
    display: inline;
}
a{
    text-decoration: none;
    color: #fff;
}

/*UTILITIES*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    /*border: 1px solid black*/
}
.brand{
    font-size: small;
}
.product{
    font-weight: 700;
}
.price{
    color: red;
    font-size: small;
    font-weight: 700;
}
.price.old{
    color: black;
    font-weight: 100;
    text-decoration: line-through;
    padding-left: 6px;
}
.label{
    background-color: black;
    padding: 3px 15px;
    color: #fff;
    font-weight: 600;
}

/*HEADER*/
header{
    background-color: #FF6900 ;
    color: #fff;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 2px 2px 1px gray;    
}
nav{
    height: 80px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
nav ul{
    margin: 0 -10px;
}
nav li{
    padding: 0 10px;
}
.navbar{
    flex-basis: 20%;
    align-self: center;
    gap: 16px;
}
.nav-icons{
    flex-basis: 20%;
    align-self: center;
    text-align: right;
}

/*MAIN*/
/*Creo la row con le col*/
.row{
    /*border: 1px dashed red;*/
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;    
}
.col{   
    /*border: 2px dotted blue;*/
    flex-basis: calc(100% / 3);
    padding: 10px;
}
/*all'interno delle col inserisco le card*/
.card{
    display: flex;
    flex-direction: column;
}
.card-image{
    height: 100%;
    width: auto;
    display: block;
    position: relative;
    z-index: -1;
}

/*Creo lo spazio per inserire il testo sull'immagine*/
.card-box{
    /*border: 1px solid darkblue;*/
    position: relative;
}
.card-label{
    position: absolute;
    bottom: 20px;
    left: 0;
}
.label.sale{
    background-color: red;
}
.label.sustain{
    content:"Sostenibilità";
    background-color: green;    
}
.liked{
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 2rem;
    padding: 10px 15px;
    background-color: #fff;
}

/*FOOTER*/
footer{
    color: #fff;
    background-color:#1A1A1A;
    padding: 30px 0;
    border-bottom: 1px solid #fff;
    font-size: 12px;
}
h4{
    font-size: medium;
    margin-bottom: 5px;
}
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bar li{
    padding-right: 10px;
}
.footer-icons ul{
    margin-top: 5px;
    margin-right: -2px;
    font-size: 1rem;
    text-align: right;
}
.footer-icons li{
    padding: 0 2px;
}

/*CREO L'HOVER PER OGNI PRODOTTO*/

#relaxed-tee:hover::after{
    content: "";
    background-image: url('../img/1b.webp');
    background-size: contain;
    background-position: center;    
    position: absolute;
    z-index: -1; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}
#roses-tee:hover::after{
    content: "";
    background-image: url('../img/2b.webp');
    background-size: contain;
    background-position: center;    
    position: absolute;
    z-index: -1; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}
#completo:hover::after{
    content: "";
    background-image: url('../img/3b.webp');
    background-size: contain;
    background-position: center;    
    position: absolute;
    z-index: -1; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}
#tee-unisex:hover::after{
    content: "";
    background-image: url('../img/4b.webp');
    background-size: contain;
    background-position: center;    
    position: absolute;
    z-index: -1; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}
#abito:hover::after{
    content: "";
    background-image: url('../img/5b.webp');
    background-size: contain;
    background-position: center;    
    position: absolute;
    z-index: -1; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}
#maglione:hover::after{
    content: "";
    background-image: url('../img/6b.webp');
    background-size: contain;
    background-position: center;    
    position: absolute;
    z-index: -1; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}
